<div class="competitor-prices" data-component="priceelephant-competitor-table">
  <table aria-live="polite">
    <thead>
      <tr>
        <th scope="col">{{ 'priceelephant.competitor' | t }}</th>
        <th scope="col">{{ 'priceelephant.price' | t }}</th>
        <th scope="col">{{ 'priceelephant.delta' | t }}</th>
        <th scope="col">{{ 'priceelephant.availability' | t }}</th>
      </tr>
    </thead>
    <tbody id="CompetitorPriceRows">
      <tr class="competitor-prices__placeholder">
        <td colspan="4">{{ 'priceelephant.loading_prices' | t }}</td>
      </tr>
    </tbody>
  </table>
</div>
